<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AduSkin" version="1.1.1.8" targetFramework="net461" />
  <package id="Antlr4.Runtime.Standard" version="4.9.0" targetFramework="net461" />
  <package id="AutomaticGraphLayout" version="1.1.11" targetFramework="net461" />
  <package id="AutomaticGraphLayout.Drawing" version="1.1.11" targetFramework="net461" />
  <package id="AutomaticGraphLayout.WpfGraphControl" version="1.1.11" targetFramework="net461" />
  <package id="estebano.ScintillaNET.WPF" version="2.6.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.7" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.2.0" targetFramework="net461" />
  <package id="System.Management" version="4.7.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>